/* utilities */
.debug [class*="col-"] {
  height: 50px;
  background-color: red;
  border: 1px solid black;
}
.drop_down a::after {
  content: '\02c5';
  margin-left: 3px;
  font-weight: 700;
  font-size: 14px;
  vertical-align: middle;
}
.btn_cl_blue {
  color: #006aff;
  border: 1px solid #006aff;
  font-weight: 600;
}
.btn_cl_blue:hover {
  color: #ffffff;
  background-color: #006aff;
}
.btn_fnt_bold {
  font-weight: 600;
}
.btn_shadow {
  background-color: #ffffff;
  color: #bbbcbe;
  box-shadow: 2px 2px;
}
.pad_ver_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrapper_80 {
  width: 80%;
  margin: auto;
}
.font_weight_600 {
  font-weight: 600;
}
.cl_white {
  color: #ffffff;
}
.cl_lightblue {
  color: #00d7d2
}
/* /utilities */

/* generale */
body {
  color: #bbbcbe;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: #ffffff;
  font-size: 4em;
  font-weight: 700;
}
h2 {
  font-size: 2.4em;
  font-weight: 700;
  margin-top: 0;
}
h3 {
  font-size: 2.1em;
  font-weight: 600;
}
h2,
h3 {
  color: #031b4e;;
}
h4 {
  color: #000000;
  font-weight: 600;
}
h5 {
  font-size: 1em;
  font-weight: 600;
}
p.font_big {
  font-size: 20px;
  font-weight: 500;
}
p.p_small {
  font-size: 12px;
}
a {
  color: #031b4f;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
hr {
  margin: 5px 0;
}
/* /generale */

/* header */
/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  line-height: 65px;
  background-color: #ffffff;
}
nav img {
  width: 150px;
  vertical-align: middle;
}
nav li a {
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
}
nav li a:hover {
  color: #006aff;
}
#hamburger {
  color: #006aff;
  font-size: 25px;
  vertical-align: middle;
}
/* /nav */

/* jumbotron */
#jumbotron {
  margin-top: 65px;
  padding: 80px 0;
  background-image: url("../img/jumbo-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#form_content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
}
#form_content h3 span {
  display: inline-block;
  color: #006aff;
  margin-top: 10px;
}

::placeholder {
  color: #bbbcbe;
  font-weight: 600;
}
#btn_account {
  margin-bottom: 10px;
}
#btn_google {
  position: relative;
}
#btn_google img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translatey(-50%);
  width: 20px;
}
#form_content .p_small {
  color: #000000;
  font-weight: 600;
  margin-top: 10px;
}
#form_content .p_small a {
  color: #006aff;
  text-decoration: underline;
}
/* /jumbotron */
/* /header */

/* main */
/* logos */
#logos {
  padding: 50px 0 30px 0;
  background-color: #F3F5F9;
}
#logos h5 {
  color: #5b6987;
  margin: 0 0 25px 0;
}
#logos .list_logo::after {
  content: "";
  display: table;
  clear: both;
}
#logos li {
  float: left;
  width: calc(100% / 6);
}
#logos a {
  color: #0069ff;
  font-weight: 600;
}
#logos a:hover {
  color: #1633ff;
}
/* /logos */

/* deploy */
 #deploy {
   padding: 50px 0;
 }
#deploy p.font_big {
  color: #5b6987;
  margin-bottom: 50px;
}
#deploy li {
  padding: 10px 15px;
  border-left: 2px solid #bbbcbe;
}
#deploy li:hover {
  border-left: 3px solid #006aff;
}
#deploy li a {
  font-size: 18px;
  color: #5b6987;
  font-weight: 600;
}
#deploy li a:hover {
  color: #031b4e;
}
#deploy .deploy_item {
  height: 170px;
}
#deploy .deploy_image {
  height: 35px;
}
/* /deploy */

 /* designed */
 #designed {
   padding: 50px 0;
   background-color: #F3F5F9;
 }
 #designed p.font_big {
   margin-top: 30px;
  }
  #create_droplets {
    width: 40%;
    margin: 50px auto 0;
  }
  #create_droplets img {
    width: 75%;
    vertical-align: middle;
  }
  #create_droplets i {
    display: inline-block;
    padding: 15px;
    font-size: 50px;
    cursor: pointer;
  }
  #create_droplets i.active {
    color: #031b4e;
  }
  #create_droplets p.p_small {
    color: #031b4e;
    margin-top: 25px;
    font-weight: 600;
  }
  .list_circle li {
    width: 15px;
    height: 15px;
    padding: 0;
    border: 1px solid #006aff;
    border-radius: 50%;
    cursor: pointer;
  }
  .list_circle li.circle_active {
    background-color: #006aff;
  }
/* /designed */

/* features */
#features {
  padding: 70px 0;
}
.features_items {
  margin-top: 30px;
}
#features img {
  height: 50px;
}
#features h4 {
  margin: 15px 0;
}
#features p {
  font-size: 15px;
}
#features a {
  color: #1633ff;
  font-weight: 600;
}
/* /features */

/* service */
#service {
  padding: 70px 0;
  height: 500px;
  background-image: linear-gradient(to bottom right, #0062FF, #0155FF);
}
#service h2 {
  color: #ffffff;
}
/* /service */

/* /main */










/* media query */
@media screen and (max-width: 768px) {

  /* generale */
  h1 {
    font-size: 2em;
  }
  p.font_big {
    font-size: 16px;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 0.75em;
  }
  /* /generale */

  /* header */
  #jumbotron {
    padding: 50px 0;
  }
  /* /header */

  /* main */
  #logos li {
    width: 50%;
  }
  #logos a {
    font-size: 12px;
  }
  #deploy ul {
    margin-bottom: 30px;
  }
  #deploy .deploy_item {
    height: auto;
  }
  #create_droplets {
    width: 70%;
    margin: 50px auto 0;
  }
  #create_droplets img {
    width: 100%;
  }
  #create_droplets p.p_small {
    font-size: 0.9em;
  }
  .list_circle li {
    width: 10px;
    height: 10px;
  }
  #service {
    font-size: 8px;
  }
  /* /main */

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

  /* generale */
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 1.9em;
  }
  /* /generale */

  /* header */
  #jumbotron {
    padding: 60px 0;
  }
  /* /header */

  /* main */
  #deploy .deploy_item {
    height: 180px;
  }

  #create_droplets {
    width: 70%;
  }
  #create_droplets p.p_small {
    font-size: 1.5em;
  }
  /* /main */

}
/* /media query */
